# LaTeX intermediate files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex
*.synctex.gz
*.synctex(busy)
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

# Generated PDF for Analysis-1 homework 2
/Analysis-1/2/2.pdf
